html,body{
    height: 100%;
    overflow: hidden;
    margin: 0px;
}
body{
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    background: #00152E;
}
.level-item, .title{
    color: azure;
}

.column{
    color: azure;
    text-align: center;
    vertical-align: center;
}

.is-horizontal-center {
    justify-content: center;
}

#app_content{
    z-index: 4;
    position: absolute;
    text-align: center;
    width: 300px;
    left: calc(50% - 150px);
    top: 10%;
}

#avatar{
    text-align: center;
}

#links{
    margin-top: 30px;
}

.link_item{
    border-color: transparent!important;
}

.button{
    z-index: 2;
}

#welcome{
    position: absolute;
    top: -10%;
    width: 100%;
}

.title{
    border-color: transparent!important;
    background-color: transparent!important;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.subtitle{
    color: #c3c3c3;
}


.title:hover{
    color: #95dafc;
}

#fires{
    border-color: transparent!important;
    background-color: transparent!important;
}


#footer{
    position: absolute;
    text-align: center;
    width: 900px;
    bottom: 1%;
    left: calc(50% - 450px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer p{
    color: azure;
    text-align: center;
}


